// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Colors

*,
.wp-block-button__link {
		
	&.has-primary-color-background-color {
		background-color: $primary-color;
	}
	&.has-secondary-color-background-color {
		background-color: $secondary-color;
	}
	&.has-third-color-background-color {
		background-color: $third-color;
	}
	&.has-white-color-background-color {
		background-color: #fff;
	}
	&.has-black-color-background-color {
		background-color: #303030;
	}
	
	&.has-text-color.has-primary-color-color {
		color: $primary-color;
	}
	&.has-text-color.has-secondary-color-color {
		color: $secondary-color;
	}
	&.has-text-color.has-third-color-color {
		color: $third-color;
	}
	&.has-text-color.has-white-color-color {
		color: #fff;
	}
	&.has-text-color.has-black-color-color {
		color: #303030;
	}
}

// Links / Button

.wp-block-button {
	margin-bottom: $grid-padding*2;
}
	
.wp-block-button__link {
	@extend .action-btn;
	border-radius: 0;
}


// Text

.has-small-font-size {
	@extend .text-mentions;
}
.has-large-font-size {
	@extend .text-intro;
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(medium) {
		display: flex;

		.wp-block-column {
			margin: 0 $grid-padding;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.columns-2 {
			.wp-block-column {
				width: 50%;
			}
		}
		&.columns-3 {
			.wp-block-column {
				width: 33.3333%;
			}
		}
		&.columns-4 {
			.wp-block-column {
				width: 25%;
			}
		}
	}
}


// Images

.wp-block-image {
	
	& img {
		max-width: none;
	}
	
	&.alignfull {
		width: 100%;
		
		.page-content & {
			padding: 0;
			border: 0;
			
			figcaption {
				text-align: center;
			}
		}
	}	
}


// Quotes

.wp-block-quote {
	margin-bottom: $grid-padding*2 !important;
	
	cite {
		
	}
}

.wp-block-pullquote {
	.page-content & {
		padding: 0;
		border: 0;
	}	
}


// Files

.wp-block-file {
	@extend p;

	a.wp-block-file__button {
		font-family: $font-bold;
		font-weight: normal;
		background-color: $primary-color;
		border-radius: 0;
		color: #fff !important;
		border: 0 !important;
		font-size: 1.4rem !important;
		opacity: 1 !important;
		transition: background .3s ease-in-out;
		
		&:hover,
		&:focus {
			background-color: $text-color;
		}
	}
	
}



// Table

.wp-block-table {

}

// Media text

.wp-block-media-text {
	margin-bottom: $grid-padding*2;
}

// Cover

.wp-block-cover, 
.wp-block-cover-image {
	height: auto;
	margin-bottom: $grid-padding*2;
}

// Gallery 

.wp-block-gallery {
	.page-content & {
		padding: 0;
		border: 0;
	}
	.blocks-gallery-image,
	.blocks-gallery-item { 
		figcaption {
			padding: $grid-padding;
		}
		
		@include img-opacity(.7);
	}
	
}  

// Video

.wp-block-video {
	.page-content & {
		padding: 0;
		border: 0;
	}
}


// ACF Blocks Stuff
// -
// + + + + + + + + + + 


[class*=acf-block--] {
	margin-bottom: $grid-padding*3;
	
	.acf-block-container {
		width: 100%;
		
		&.center-max {
			padding: $grid-padding;
			margin: 0 auto;
			max-width: $max-width;
		}
	}
}

// Text 

.acf-block--text {}


// Text+Img

.acf-block--textimg {
	
	.acf-block-textimg-picture {
		figure {
			padding: 0;
			border: 0;
		}
	}
}


// Gallery 

.acf-block--gallery {}


// CTA

.acf-block--cta {}


// Posts

.acf-block---post {}
.acf-block-post-item {
	position: relative;
	
	&:hover {
		a {
			text-decoration: none;
		}
		a img {
			opacity: .7;
		}	
	}
}
.acf-block-post-figure {
	@include img-opacity();
}
.acf-block-post-title {
	margin-bottom: $grid-padding/2;
	
	a {
		text-decoration: none;
		transition: color .3s ease-in-out;

		&::after {
			@include linkblock();
		}
		&:hover,
		&:focus {
			color: $primary-color;
		}
	}
}
.acf-block-post-metas {
	span {
		font-size: 1.4rem;
		color: $third-color;
	}
}


// Testimonial

.acf-block-testimonials {
	
	.testimonal-title {
		@extend h2;
	}
	.testimonial-picture {
		
		img {
			border-radius: 50%;
		}
	}
	figure {
		.page-content & {
			padding: 0;
			border: 0;
		}		
	}
}


// Advanced List

.acf-block--advanced-list {
	
	.list-featured {
		font-family: $font-bold;
		color: $primary-color;
	}	
}