// Buttons 

.action-btn,
button.action-btn,
input[type=submit].action-btn {
	display: inline-block;
	padding: $grid-padding $grid-padding*2;
	font-size: 1.6rem;
	font-family: $font-bold;
	text-transform: uppercase;
	text-decoration: none;
	background-color: var(--primary_color);
	color: #fff;
	transition: background .2s linear;

	&:hover,
	&:focus {
		background-color: $text-color;
		color: #fff !important;
	}
}
.action-btn-white,
button.action-btn-white,
input[type=submit].action-btn-white {
	@extend .action-btn;
	background-color: #fff;
	color: $text-color;

	&:hover,
	&:focus {
		background-color: $text-color;
		color: #fff;
	}
}
.action-btn-dark,
button.action-btn-dark,
input[type=submit].action-btn-dark {
	@extend .action-btn;
	background-color: $text-color;
	color: #fff;
	
	&:hover,
	&:focus {
		background-color: #fff;
		color: $text-color;
	}
}
