// -------------------------
// = Content
// -------------------------

#site_content {
	flex: 1 0 auto;	// Stick the footer at the bottom
}

.page-banner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 10rem;
	padding: $grid-padding*4 $grid-padding;
	margin-bottom: $grid-padding*2;
	background-color: $primary-color;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&::after {
		@include block-overlay(.5);
	}
	
	@include rwd(medium) {
		min-height: 18rem;
	}
	@include rwd(large) {
		min-height: 22rem;
		margin-bottom: $grid-padding*4;
		//background-attachment: fixed;
		
		.home.blog & {
			min-height: 36rem;
		}
		.home &,
		.error404 & {
			min-height: 50vh;
		}
	}
}
.page-banner-title {
	position: relative;
	text-align: center;
	z-index: 2;
	
	p {
		color: #fff;
		margin: 0;
	}
}

.page-title {
	color: #fff;
	margin-bottom: 0;
	
	@include rwd(large) {
		font-size: 3.8rem;
	}
}

.page-wrap {
	
	&.has-sidebar {
		padding: $grid-padding*2;
		max-width: $max-width;
		margin: 0 auto;
		
		@include rwd(large) {
			display: flex;

			.page-content {
				width: 66.6667%;
			}
			.page-sidebar {
				width: 33.3333%;
				padding-left: 8.3333%;
			}
		}
	}
}

.page-content {

	// Centering Blocks and content
	
	& > * {
		width: 100%;
		padding: 0 $grid-padding;
		@include center-small();
		
		.page-sidebar & {
			
		}
	}
	
	& > *.alignwide {
		max-width: $max-width-large;
	}
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"] {
		@include center();
		margin-bottom: $grid-padding*2;
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		position: relative;
		margin: $grid-padding*2 auto;
		max-width: calc(#{$max-width-small} - #{$grid-padding}*2);
	}

	
	figure {
		padding: $grid-padding;
		border: $text-color 1px solid;
		background-color: #fff;
	}
	
}

.searchform {
	
	@include rwd(large) {
		.error404 & {
			max-width: 50%;
		}
	}
}

/* ------------------------- */
/* = Galleries
/* ------------------------- */


.gallery {
	display: flex;
	flex-wrap: wrap;
	//justify-content: space-between; 
	justify-content: center;
	margin-bottom: 1.5em;
	margin-left: -1%;
	margin-right: -1%;
}

.gallery-item {
	width: 100%;
	text-align: center;
	margin-bottom: 1.5%;
	margin: 1%;
	
	@include img-opacity(.7);
}

.gallery-columns-2 .gallery-item {
	width: 48%;
}

.gallery-columns-3 .gallery-item {
	width: 31.333%
}

.gallery-columns-4 .gallery-item {
	width: 23%;
}

.gallery-columns-5 .gallery-item {
	width: 18%;
}

.gallery-columns-6 .gallery-item {
	width: 14.66%;
}

.gallery-columns-7 .gallery-item {
	width: 12.28%;
}

.gallery-columns-8 .gallery-item {
	width: 10.5%;
}

.gallery-columns-9 .gallery-item {
	width: 9.11%;
}

.gallery-caption {
	display: block;
}



/* ------------------------- */
/* = Widgets
/* ------------------------- */


.widget-container {
	margin-bottom: $grid-padding*4;
	text-align: right;
	
	input,
	.formfield-select--container {
		margin-top: -1px; // hide border
	}

	.widget-title {
		@extend h3;
		text-align: right;
		border-top: $text-color 5px solid;
		border-bottom: $text-color 1px solid;
		padding: $grid-padding 0;
		margin-bottom: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: right;
		
		&.subpages-list {
			border-top: $text-color 5px solid;
		}
		
		li {
			
			a {
				display: block;
				padding: $grid-padding 0;
				border-bottom: $text-color 1px solid; 
				text-decoration: none;
				transition: .2s ease-in-out;
				
			}
			&.current_page_item a,
			&.current-cat a,
			a:hover, a:focus {
				background-color: $primary-color;
				padding-right: $grid-padding;
				color: #fff;
			}
			
			&.recentcomments {
				padding: $grid-padding*2 0; 
			}
		}
	}

	// Cat Dropdown
	
	.formfield-select--container {
		//margin-top: $grid-padding*2;
	}
	
}

.textwidget,
.tagcloud {
	padding: $grid-padding*2 0;
	
	a {
		font-family: $font-regular;
	}
}



// Searchform 

.search-form {
	position: relative;
	margin-top: $grid-padding*2;
	
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
	}
	&::before {
		width: 20px; height: 20px;
		border: $primary-color 2px solid;
		border-radius: 100%;
		top: $grid-padding*2; 
		left: $grid-padding*2;
	}
	&::after {
		width: 10px;
		height: 2px;
		background-color: $primary-color;
		transform: rotate(45deg);
		top: 32px;
		left: 28px;
	}
	
	.search-field {
		margin-bottom: .5em;
		padding-left: 2.5em;
	}
	input[type="submit"].search-submit {
		//margin-bottom: .5em;
		//@extend .action-btn-dark;
		@include a11y-hidden();
		padding: 0;
	}
}

// Calendar


.calendar_wrap {
	padding: $grid-padding*2 0;
	
	table {
		width: 100%;
		text-align: center;
		
		caption {
			text-transform: uppercase;
			font-family: $font-regular;
			padding-bottom: .5em;
		}
		td#today {
			background-color: $primary-color;
			color: #fff;
		}
		td a {
			font-family: $font-bold;
			color: $primary-color;
		}
	}
}

