/* ------------------------- */
/* = Footer
/* ------------------------- */


#site_foot {
	background-color: $secondary-color;
	padding: $grid-padding;
	padding-top: $grid-padding*4;
	
	& > .row {
		justify-content: center;
	}
}

.footer-section {
	padding: $grid-padding;
	width: 33.3333%;
	
	p,
	.widget-title {
		color: #fff;
	}
	
	ul {
		padding: 0;
		list-style: none;
		
		li {
			color: #fff;
			border-bottom: #fff 1px solid;
			
			& > a {
				display: block;
				padding: $grid-padding;
				text-decoration: none;
				transition: background .2s ease-in-out;
				
				&:focus, &:hover {
					background-color: rgba(255,255,255,0.2);
				}
			}
			
		}
		
		&.recentpost-list {
			
			li {
				position: relative;
				display: flex;
				flex-wrap: nowrap;
				padding: $grid-padding 0;
				
				.recentpost-thumbnail {
					width: 6rem;
					margin-right: $grid-padding;
					
					img {
						width: 100%;
						display: block;
					}
				}

				.recentpost-title {
					flex: 1 0 0;
				}
				
				.read-more::after {
					@include linkblock;
					transition: opacity .3s ease-in-out;
					opacity: 0;
				}
				.read-more:hover::after,	
				.read-more:focus::after {
					background-color: #fff;
					opacity: .2;
				}	
			}
		}
	}
}


.author-info {
	
	@include rwd(large) {
		display: flex;
		
		.author-avatar {
			width: 60px;
			margin-right: $grid-padding;
		}
		.author-description {
			flex: 1;
		}	
	}
	
	.author-avatar {
		
		img {
			border-radius: 100%;
		}
	}

}

.footer-mentions {
	width: 100%;
	text-align: center;
}
.footer-nav, 
.footer-copyright {
	display: block;
	
	@include rwd(large) {
		display: inline-block; 
		vertical-align: bottom;
	}
}

.footer-menu {
	margin: 0;
	
	li {
		color: #fff;
		display: inline;
		margin: 0 .25em;
		font-size: 1.4rem;
	}
}

p.footer-copyright {
	margin-bottom: 0;
	color: #fff;
	font-size: 1.4rem;
}


// Social Icons

.menu {
	
	li {
		
		a[href*="facebook.com"] {
			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 30px; height: 30px;
				margin-right: $grid-padding*2;
				background: url(img/social-icons-white.svg) 0 0 no-repeat;
			}
		}
		a[href*="twitter.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -40px 0;
			}
		}
		a[href*="instagram.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -80px 0;
			}
		}
		a[href*="linkedin.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -120px 0;
			}
		}
		a[href*="pinterest.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -160px 0;
			}
		}
		a[href*="youtube.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -200px 0;
			}
		}
		a[href*="googleplus.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -240px 0;
			}
		}
		a[href*="vimeo.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -280px 0;
			}
		}
		a[href*="tripadvisor.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -320px 0;
			}
		}
		a[href*="snapchat.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -360px 0;
			}
		}
		a[href*="github.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -400px 0;
			}
		}
		a[href*="dribble.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -440px 0;
			}
		}
		a[href*="behance.com"] {
			@extend a[href*="facebook.com"];
			&:before {
				background-position: -480px 0;
			}
		}
		
	}
}
