
/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	text-align: center;
	//margin-bottom: $grid-padding*2;
	z-index: 100;
	
	@include rwd(large) {
		text-align: left;
		margin-bottom: 0;
	}
}

.site-title {
	font-family: $font-title;
	font-size: 2.2rem;
	line-height: 1;
	text-transform: uppercase;
	margin: 0;
	
	span {
		font-size: 2.8rem;
		font-family: $font-title;
		line-height: 1;
		margin-bottom: 0;
	}
	
	a {
		text-decoration: none;
	}
	
	// If we place a Logo
	
	img {
		height: 70px; 
		width: auto;
		
		@include rwd(large) {
			max-width: none;			
		}

	}
	img + span {
		@include a11y-hidden();
	}
	
}

.site-desc {
	font-size: 1.6rem;
	font-family: $font-regular;
	margin-bottom: 0;
	color: $secondary-color;
}

.site-brand-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 $grid-padding*2;
	padding-bottom: 0;
	
	@include rwd(medium) {
		flex-direction: column;
		justify-content: flex-start
	}
	@include rwd(large) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	@include rwd(wide) {
		padding: 0;
	}
}
.site-brand {
	padding: $grid-padding/2 0;
	z-index: 10;
}