// -------------------------
// 
// = Main Navigation
// 
// -------------------------


// Skiplinks

.skiplinks-nav {
	position: absolute;
	z-index: 100; 
}
.skiplinks-menu {
	
	li {
		font-family: $font-regular;
	}
	a {
		position: absolute;
		top: -500px; left: $grid-padding;
		display: block;
		padding: $grid-padding;
		background-color: #000;
		color: #fff;
		text-decoration: none;
		white-space: nowrap;

		&:focus {
			top:$grid-padding;
		}

	}
}


// Main nav

#site_nav {
	
	@include rwd(medium) {
		display: block;
	}
	@include rwd(large) {
		display: block;
		padding-bottom: 0;
	}
}

.main-menu {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	padding-top: $grid-padding*2;
	text-align: left;
	background-color: #fff;
	transform: translateX(-110%);
	z-index: 1;
	
	.menu-opened + & {
		transform: translateX(0);
	}

	@include rwd(medium) {
		position: relative;
		top: auto;
		text-align: center;
		transform: none;
		padding-top: 0;
	}

	@include rwd(large) {
		left: auto;
		width: auto;
		background-color: transparent;
		text-align: left; 
	}
	
	& > li {
		position: relative;
		display: block;
		font-family: 'Title';
		font-size: 1.8rem;
		
		@include rwd(medium) {
			display: inline-block;
			margin: 0 $grid-padding;
		}
		
		& > a {
			display: block;
			text-decoration: none;
			padding: $grid-padding $grid-padding*2;
			border-bottom: lighten($text-color, 55%) 1px solid;
			
			@include rwd(medium) {
				padding: $grid-padding;
				border-width: 2px;
				border-color: transparent; 
			}
			@include rwd(large) {
				border-width: 4px;
				padding: $grid-padding*2.5 $grid-padding;
				
			}
		}
		& > a:hover, 
		& > a:focus {
			color: var(--primary_color);

		}
		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			border-color: $text-color;

		}
		
	}
	
}


// Sub-Menus behaviors


li.menu-item-has-children {
	
	& > a {
		padding-right: 2.4rem;
		
		@include rwd(large) {
			padding-right: 1.8rem;
		}
		@include rwd(wide) {
			padding-right: $grid-padding;
		}
	}

	@include rwd(wide) {
		
		&.unfold-parent > a {
			padding-right: 1.8rem;
		}
		
		&:hover > .sub-menu {
			left: auto;
			opacity: 1;
			
			& > li {
				display: block;
			}
		}
	}
}

.sub-menu-opened + .sub-menu {
	transform: scaleY(1);
	height: auto;
	
	& > li {
		display: block;
	}
	
	@include rwd(medium) {
		left: auto;
		opacity: 1;
		
		& > li {
			display: block;
		}
	}
}

.sub-menu {
	position: relative;
	height: 1px;
	transform: scaleY(0);
	transform-origin: center top;
	text-align: left;
	overflow: hidden;
	background-color: #fff;
	//transition: .2s ease-in-out;
	
	@include rwd(medium) {
		position: absolute;
		height: auto;
		top: auto;
		left: -999em;
		opacity: 0;
		transform: none;
		min-width: 100%;
		z-index: 100;
		transition: opacity .2s ease-in-out;
	}

	& > li {
		white-space: nowrap;
		border-top: lighten($text-color, 55%) 1px solid;
		
		&:first-child {
			border-top: 0;
		}
		
		@include rwd(large) {
			font-size: 1.4rem;
		}
		
		@include rwd(wide) {
			display: none;
		}
		
		a {
			display: block;
			padding: $grid-padding $grid-padding*2;
			text-decoration: none;
			
			@include rwd(medium) {
				padding: $grid-padding;
			}
		}
		a:hover, 
		a:focus,
		&.current-menu-item a {
			background-color: var(--primary_color);
			color: #fff;
		}
	}
	
	.current-menu-item &,
	.current-menu-ancestor & {
		
	}			
}



// Sub-Menus trigger


.sub-menu-unfold {
	position: absolute;
	top: $grid-padding; 
	right: $grid-padding*2;
	display: block;
	height: 2.6rem; 
	width: 2.6rem;
	margin: 0;
	padding: 0;
	border: 0; 
	background: transparent !important;
	
	@include rwd(medium) {
		right: 0;
	}	
	@include rwd(wide) {
		left: -999rem;
		
		&:focus {
			left: auto;
			right: 0;
		}
	}
	
	&::after, 
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 14px; 
		width: 16px; 
		height: 2px;
		background-color: $text-color;
		transition: transform .2s ease-in-out;
	}
	&::before {
		left: 0;
		transform: rotate(45deg);		
	}
	&::after {
		transform: rotate(-45deg);
		right: 0;
	}
	span {
		@include a11y-hidden();
	}
	
	&.sub-menu-opened::after {
		transform: rotate(45deg);
	}
	&.sub-menu-opened::before {
		transform: rotate(-45deg);
	}
	
	@include rwd(medium) {
		height: 2rem; 
		width: 2rem;
		top: 50%; 
		margin-top: -1.1rem;
		
		&::after, 
		&::before {
			top: 9px; 
			left: 7px;
			width: 10px; 
			height: 2px;
		}
		&::after {
			left: 13px;
		} 
	}
}


#menu-toggle {

	// Hamburger Menu
	
	display: block; 
	height: 3.4rem; 
	width: 3.4rem;
	position: relative;
	border: 0; 
	border-radius: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	cursor: pointer;
	z-index: 10;
	@include a11y-hide(60px);
	
	span {
		position: absolute; 
		top: 16px; 
		left: 0;

		&, 
		&::after, 
		&::before {
			display: block;
			width: 100%; 
			height: 2px;
			background-color: $text-color;
			transition: width .2s linear;
		}
		&::after, 
		&::before {
			position: absolute;
			content: ''; 
		}
		&::after {
			width: 50%;
			bottom: -12px; 
			left: 0;
		}
		&::before {
			width: 75%;
			top: -12px; 
			left: 0;
		}
	}
	
	&:not([class*="menu-opened"]):hover,
	&:not([class*="menu-opened"]):focus {
		
		span {
			width: 90%;
		} 
		span::after {
			width: 65%;
		} 
		span::before {
			width: 40%; 
		}
	}

	&.menu-opened span {
		background-color: transparent; 
		height: 1px;

		&::after, 
		&::before {
			top: 0;
			background-color: var(--secondary_color);
			width: 65%;
		}
		&::after {
			transform: rotate(45deg);
		}
		&::before {
			transform: rotate(-45deg);
		}
	}
		

	&:hover {
		background-color: transparent;
	}	
	
	@include rwd(medium) {
		display: none;				
	}
}


// Breadcrumbs 

.breadcrumbs {
	display: none;
	
	@include rwd(large) {
		display: block;
		
		.inner {
			padding: $grid-padding*3;
			padding-top: 0;
			font-size: 1.4rem;
			text-align: center;
			top: -$grid-padding;
		}
		span {
			
			a {
				@include link-style();
				margin: 0 $grid-padding/2;
			}
			
			&:first-child a {
				margin-left: 0;
			}
		}
	}
}

	
	