// -------------------------
// 
// = Posts
// 
// -------------------------


.sticky {
	display: block;
}

.category-description {
	text-align: center;
}

.post {
	position: relative;
	margin-bottom: $grid-padding*4;
	
	& .post-picture::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $text-color;
		opacity: .2;
		z-index: 1;
	}

	&:nth-child(2n) .post-picture::after {
		opacity: .3;
	}
	&:nth-child(3n) .post-picture::after {
		background-color: #fff;
	}
	
	&.has-post-thumbnail {
		border-color: transparent;
	}
}

.post-picture {
	position: relative;
	margin-bottom: 0;
	background-color: $primary-color;
	overflow: hidden;

	img {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		max-width: none;
		z-index: 2;
		
		.no-picture & {
			opacity: .4;
		}
	}
	
	@include rwd(large) {
		
		a {
			img {
				transition: .5s ease-in-out;
			}

			&:hover, &:focus {
				img {
					transform: scale(1.05);
					opacity: .8;

					.no-picture & {
						opacity: .5;
					}
				}
			}
		}
	}
}

.post-caption {
	padding: $grid-padding;
	
	a {
		display: block;
		width: 100%; 
		text-decoration: none;
		text-align: center;
		
		span {
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-regular;
		}
	}
	
	@include rwd(large) {
		position: absolute;
		top: 100%; left: 0; 
		width: 100%; height: 100%;
		margin: 0;
		background-color: rgba(0,0,0,.6);
		font-size: 1.8rem;
		transition: .5s ease-in-out;
		
		.post-picture:hover & {
			top: 0;
		}
		
		a {
			height: 100%;
			position: absolute;
			top: 0; left: 0; 
	
			&::before {
				@include linkblock();
			}
			
			span {
				display: block;
				width: 100%;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}


.post-header {
	position: relative;
	margin-bottom: 1.5em;
	
	&:hover .post-title a {
		color: $primary-color;
	}
}

.post-excerpt {
	p {
		margin-bottom: $grid-padding;
	}
}

.post-title {
	position: relative;
	line-height: 1.2;
	z-index: 3;
	
	a {
		position: relative;
		display: inline-block;
		padding: $grid-padding;
		padding-left: 0;
		background-color: #fff;
		text-decoration: none;
		transition: color .3s ease-in-out;
		
		&:hover, 
		&:focus {
			color: $primary-color;			
		}

	}
	
	.blog .post-picture + &,
	.archive .post-picture + &,
	.search .post-picture + & {
		position: absolute;
		left: 0;
		bottom: 0;
		margin-bottom: 0;
	}
	
}


.tag-links {
	
	p {
		margin-bottom: 0;
	}
	
	ul {
		display: inline-block;
		padding: 0;
		list-style: none;
		
		li {
			display: inline-block;
			text-transform: uppercase;
			font-size: 1.1rem;
			
			a {
				display: inline-block;
				padding: $grid-padding/2;
				padding-right: $grid-padding;
				margin-right: $grid-padding;
				margin-top: $grid-padding/2;
				text-decoration: none;
				background-color: $secondary-color;
				border-top-left-radius: 4rem;
				border-bottom-left-radius: 4rem;
				color: #fff;
				
				&:hover, &:focus {
					opacity: .7;
				}
				
				&:before {
					content: "•";
					margin-right: $grid-padding;
				}				
			}
		}
	}
}

.nav-links {
	font-family: $font-regular;
}

.page-links {
	
}

.meta-infos {
	font-family: $font-mono;
	font-size: 1.2rem;
	padding-bottom: $grid-padding;
	border-bottom: $text-color 1px solid;
	
	&::before {
		@include pre-stroke();
	}
}


// IAS

.ias_loader, .ias_trigger {
	position: relative;
	width: 100%; height: 32px;
	margin-top: $grid-padding*2;;
	text-align: center;
}
.ias_trigger a:link,
.ias_trigger a:visited {
	font-family: $font-bold;
	padding: $grid-padding*2 $grid-padding*4; 
	font-size: 1.4rem;
	text-decoration: none;	
	background-color: $primary-color; 
	color: #fff;
}
.ias_trigger a:hover,
.ias_trigger a:active {
    background-color: $secondary-color;
    color: #fff;
}
.ias_loader img {
	position: absolute;
	//width: 16px; height: 16px;
	left: 50%; margin-left: -16px;
}



/* ------------------------- */
/* = Comments
/* ------------------------- */


.meta-comments {
	
	&::before {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 20px; height: 20px;
		margin-right: $grid-padding;
		background: url(img/comments-bubble.svg) 0 0 no-repeat;
	}
}

.bypostauthor {
	display: block;
}

.comment-list {
	padding: 0;
	list-style: none;
	
	.comment {
		padding: $grid-padding*2;
		border-top: $primary-color 2px solid;
		margin-bottom: 0;
		
		&:nth-child(odd) {
			background-color: lighten($text-color, 78%);
		}
	}
	.children {
		margin-top: $grid-padding*2;
		
		.comment {
			border: 0;
			margin: 0;
			padding: $grid-padding;
			padding-top: $grid-padding*2;
			background-color: transparent;
		}
		.comment-body {
			border-top: $text-color 1px dashed;
			padding-top: $grid-padding*2;
		}
	}
	
	.comment-meta {
		position: relative;
		padding: $grid-padding/2 $grid-padding $grid-padding *2 7.4rem;
		margin-bottom: $grid-padding*2;
		
		.comment-author {
			
			img {
				position: absolute;
				top: 0; 
				left: 0;
				display: block; 
				width: 6.4rem; 
				height: 6.4rem;
				border-radius: 50%;
			}
			.says {
				display: none;
			}
		}
		
		.comment-metadata {
			time {
				font-family: $font-mono;
				font-size: 1.1rem;
				color: inherit;
			}
		}
	}
	
	.comment-content {
		
		p {
			margin-bottom: .5em;
		}
	}
}

.comment-awaiting-moderation {
	padding: $grid-padding*2;
	margin-top: $grid-padding;
	background-color: #fff;
	font-family: $font-italic;
}
.comment-reply-link {
	@extend .action-btn;
	font-size: 1.2rem;
	font-family: $font-regular;
}

.comment-form {
	
	input[type=submit] {
		@extend .action-btn;
	}
}
