// -------------------------
// = Typography
// -------------------------


// Typography

h1, h2, h3, h4, h5, h6,
.h1-like, .h2-like, .h3-like, .h4-like, .h5-like, .h6-like {
	color: $text-color;
	font-family: $font-title;
	font-weight: normal;
	line-height: 1.2;
	margin: 1.25em 0;

	&:first-child {
		margin-top: 0;
	}
	
	b, strong {
		font-weight: normal;
	}
	i, em {
		font-style: normal;
	}

	.white-text & {
		color: #fff;
	}
		
}

h1, 
.h1-like {
    font-size: 3.4rem;

}
h2, 
.h2-like {
	font-size: 3rem;

}
h3, 
.h3-like {
    font-size: 2.6rem;

}
h4, 
.h4-like {
    font-size: 2rem;

}
h5, 
.h5-like {
    font-size: 1.8rem;

}
h6, 
.h6-like {
    font-size: 1.6rem;

}


p {
    margin: 0 0 1.5em 0;
}

b, strong {
	font-family: $font-bold;
	font-weight: normal;
}
i, em {
	font-family: $font-italic;
	font-style: normal;
}
em strong, strong em,
i strong, strong i,
em b, b em,
i b, b i {
	font-family: $font-bolditalic;
	font-weight: normal;
	font-style: normal;
}

li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}

a {
	color: inherit;
	background-color: transparent;
}
a:hover,
a:focus {
	text-decoration: none;
}


.content-area {
	
	p {
		a:not([class*="-btn"]) {
			@include link-style();
		}
	}
	
}


q,
blockquote {
	position: relative;
	max-width: 75%;
	
	.page-content > &,
	.custom-post-content > & {
		padding: .75em 0 .75em 2em;
	}
		
	&::after,
	&::before {
		content: '';
		display: block;
		position: absolute;
	}
	&::before {
		width: 2px;
		height: 100%;
		background-color: var(--primary_color);
		left: 1rem;
		top: 0;
	}
	&::after {
		content: "«";
		font-family: $font-bold;
		font-size: 4rem;
		color: var(--primary_color);
		left: 0;
		top: -2.5rem;
		background-color: #fff;
	}
}
q,
blockquote,
blockquote p {
	font-family: $font-bolditalic;
	font-style: normal;
	font-size: 2rem;
}
blockquote p {
	margin-bottom: 0;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 75%;
}


// Code stuff


code, pre, samp, kbd {
	white-space: pre-line; // IE fix
	white-space: pre-wrap;
	font-family: 'Andale Mono', 'DejaVu Sans Mono', Courier, monospace;
	font-size: 1em;
	line-height: 1;
}

kbd {
	padding: 0 2px;
	border: 1px solid #999;
	border-radius : 2px;
}

code, pre {
	background-color: #eee;
	color: #999;
}
code {padding: .5em;}

pre {
	padding: .5em 1.5em;
	border: #ccc 1px dashed;
	white-space: pre-line;
}

mark {
	padding: .5em;
	background: #ff0;
}

.error {
	padding: .5em;
	background: red; color: #fff;
}


// Max values


img, td,
blockquote, code, pre,
textarea, input, video {
	max-width: 100%;
}


// Lists

ul, ol {
	padding-left: $grid-padding*2;
	
	.page-content > & {
		padding-left: $grid-padding*3;
	}
}

ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}

nav ul, 
nav ol {
	padding: 0; 
	margin: 0; 
	list-style-type: none;
}

li ul, 
li ol {
	margin-top: 0; 
	margin-bottom: 0;
}


// Images


img {
	height: auto;
	border: 0;
	border-style: none;
}

figure {
	position: relative;
	//max-width: 100%;
	margin: 0 0 $grid-padding 0;
	overflow: hidden;
	
	&.noborder {
		border: 0 !important;
	}
	
	img {
		display: block;
	}
	
	// WP block fix
	
	&:not([class*="is-resized"]) img {
		width: 100%; 
		height: auto;
	}
}
figcaption {
	font-family: $font-italic;
	font-size: 1.3rem; 
	line-height: 1.1;
	margin: $grid-padding 0;
}


// Tables


.table-container {
	width: 100%; overflow-x: auto;
}

table {
    margin-bottom: 1.5em;
}
thead {}
thead th {}

td, th {
	padding: .5em;
	border: #ccc 1px solid;
	vertical-align: middle;
}

// Misc


hr {
  box-sizing: content-box;
  height: 0; 
  overflow: visible;
}

iframe {
	width: 100%;
}


// WP Captions

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	
	.wp-caption-text {
		text-align: left;
		font-family: $font-mono;
		font-size: 1.2rem;
		
		&::before {
			@include pre-stroke();
		}
	}

}

// WP Alignments


.alignleft {
	display: inline; 
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline; 
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	display: block; 
	clear: both; 
	margin: 0 auto;
}

// Custom styles

p.text-intro {
	font-size: 2rem;
}
p.text-mentions {
	font-size: 1.3rem;
}



form {
	input[type="submit"] {
		@extend .action-btn;
	}
}