// ------------------------------
//
// = Web Fonts ADMIN
//
// ------------------------------

// Define your custom fonts :)

$f-regular: MultipleSlab-Regular;
$f-italic: MultipleSlab-Italic;
$f-bold: MultipleSlab-Bold;
$f-bolditalic: MultipleSlab-BoldItalic;
$f-title: Barlow-Bold;

$fontface-regular-out: local('#{$f-regular}'), url('fonts/#{$f-regular}.woff2') format('woff2');
$fontface-italic-out: local('#{$f-italic}'), url('fonts/#{$f-italic}.woff2') format('woff2');	
$fontface-bold-out: local('#{$f-bold}'), url('fonts/#{$f-bold}.woff2') format('woff2');
$fontface-bolditalic-out: local('#{$f-bolditalic}'), url('fonts/#{$f-bolditalic}.woff2') format('woff2');
$fontface-title-out: local('#{$f-title}'), url('fonts/#{$f-title}.woff2') format('woff2');

// Fonts

@font-face {
	font-family: 'Regular';
	src: $fontface-regular-out;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Italic';
	src: $fontface-italic-out;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bold';
	src: $fontface-bold-out;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BoldItalic';
	src: $fontface-bolditalic-out;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Title';
	src: $fontface-title-out;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
